.about {
    background: $sectionbg;
    &__content {
        padding: 20px 0px;
        padding-top: 0px;
        @mixin atXmedium {
            padding-top: 50px;
        }
        max-width: 400px;
        margin: 0 auto;
    }
    &__head {
        max-width: 900px;
        margin: 0 auto;
    }
    &__slider {
        overflow: hidden;
        position: relative;
    }
}